In [40]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [41]:
df = pd.read_csv('/Users/utsav/Desktop/Product-review-sentiment-analysis/data/Reviews.csv')

In [42]:
df.head()

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...

In [43]:
df.shape

(568454, 10)

In [44]:
df.isnull().sum()

Id                         0
ProductId                  0
UserId                     0
ProfileName               26
HelpfulnessNumerator       0
HelpfulnessDenominator     0
Score                      0
Time                       0
Summary                   27
Text                       0
dtype: int64

In [45]:
df_clean = df.drop(columns=['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'Time'])

In [46]:

df_clean.head()

,Score,Summary,Text
0,5,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,1,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,4,"""Delight"" says it all",This is a confection that has been around a fe...
3,2,Cough Medicine,If you are looking for the secret ingredient i...
4,5,Great taffy,Great taffy at a great price. There was a wid...

In [47]:
df_clean['Summary'] = df_clean['Summary'].fillna('')

In [48]:
df_clean.isnull().sum()

Score      0
Summary    0
Text       0
dtype: int64

In [49]:
df_clean['review'] = df_clean['Summary'] + ' ' + df_clean['Text']

In [50]:
df_clean.drop(columns=['Summary', 'Text'], inplace=True)

In [51]:
def sentiment(Score):
    if Score <= 2:
        return 'negative'
    elif Score == 3:
        return 'neutral'
    else:
        return 'positive'
    
df_clean['sentiment'] = df_clean['Score'].apply(sentiment)

In [52]:
df_clean.head()

   Score                                             review sentiment
0      5  Good Quality Dog Food I have bought several of...  positive
1      1  Not as Advertised Product arrived labeled as J...  negative
2      4  "Delight" says it all This is a confection tha...  positive
3      2  Cough Medicine If you are looking for the secr...  negative
4      5  Great taffy Great taffy at a great price.  The...  positive

In [53]:
import re
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Error loading stopwords: <urlopen error [SSL:
[nltk_data]     CERTIFICATE_VERIFY_FAILED] certificate verify failed:
[nltk_data]     unable to get local issuer certificate (_ssl.c:1006)>

In [54]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"http\S+|www\S+", "", text)
    text = re.sub(r"[^a-zA-Z\s]", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    words = [w for w in text.split() if w not in stop_words]
    return " ".join(words)

df_clean['cleaned_review'] = df_clean['review'].apply(clean_text)

In [55]:
df_clean.drop(columns=['Score', 'review'], inplace=True)

In [56]:
from sklearn.preprocessing import LabelEncoder  

le = LabelEncoder()
df_clean['label'] = le.fit_transform(df_clean['sentiment'])
df_clean.head()

  sentiment                                     cleaned_review  label
0  positive  good quality dog food bought several vitality ...      2
1  negative  advertised product arrived labeled jumbo salte...      0
2  positive  delight says confection around centuries light...      2
3  negative  cough medicine looking secret ingredient robit...      0
4  positive  great taffy great taffy great price wide assor...      2

In [57]:
df_clean.drop(columns=['sentiment'], inplace=True)

In [58]:
df_clean.to_csv('/Users/utsav/Desktop/Product-review-sentiment-analysis/data/clean-data.csv', index=False)

In [59]:
df_clean.head()

                                      cleaned_review  label
0  good quality dog food bought several vitality ...      2
1  advertised product arrived labeled jumbo salte...      0
2  delight says confection around centuries light...      2
3  cough medicine looking secret ingredient robit...      0
4  great taffy great taffy great price wide assor...      2